<!DOCTYPE html>
<html>
<head>
    <title>CBT System</title>

<style>
body{
    background:#121212;
    color:#eee;
    font-family:Arial;
    text-align:center;
}

.container{
    background:#1e1e1e;
    width:50%;
    margin:auto;
    margin-top:100px;
    padding:30px;
    border-radius:10px;
}

button{
    padding:12px 20px;
    background:#4da3ff;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#2e86de;
}
</style>

</head>

<body>

<div class="container">

<h1>CBT System</h1>
<p>Test your knowledge</p>
<form action="/test" method="GET">

<input type="text" name="username" placeholder="Enter your name" required>
<br><br>

<button type="submit">Start Test</button>

</form>
</div>
</body>
</html>